*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

p {
  color: hsl(216, 15%, 48%);
  font-family: "Outfit", sans-serif;
  font-size: 12px;
  text-align: center;
  margin-top: 15px;

}


.attribution {
  font-size: 11px;
  margin-top: 20px;
  text-align: center;
  color: #666;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  max-width: 100%;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* desktop style */

@media (min-width: 600px) {
  .card {
    max-width: 350px;
    padding: 30px;
  }
}

.card img {
  width: 100%;
}

.card h2 {
  font-size: 22px;
}